:root {
  --cor-primaria: #3cf3c3;
  --cor-secundaria: #d6ffec;
  --cor-alternativa: #053829;
  --cor-texto: #000000;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.page {
  border-top: 8px solid var(--cor-secundaria);
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 40px;
}

/* HEADER */
.header {
  align-items: center;
  color: var(--cor-alternativa);
  display: flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: space-between;
  max-width: 700px;
  padding: 25px;
  width: 100%;
}

.header h1 {
  font-size: 2.2em;
  font-weight: 800;
  margin: 0;
}

.header h2 {
  font-size: 3em;
  font-weight: 800;
  margin: 0;
}

.header p {
  background-color: var(--cor-secundaria);
  border-radius: 2em;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0;
  padding: 2px 10px;
}

.header_bg {
  align-items: center;
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: center;
}

.header_bg {
  --s: 200px; /* control the size*/
  --c1: var(--cor-secundaria);
  --c2: var(--cor-primaria);

  --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
  background:
    radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0
      calc(var(--s) / 2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2)
      0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
    var(--c2);
  background-size:
    calc(var(--s) / 4.667) var(--s),
    var(--s) calc(var(--s) / 4.667);
}

.numero {
  font-weight: 800;
  margin: 0;
}

.row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

/* CONTEÚDO */
.alternativas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

.alternativa {
  align-items: center;
  display: flex;
  gap: 0.5ch;
}

.letra {
  background-color: var(--cor-alternativa);
  border-radius: 50%;
  color: var(--cor-secundaria);
  display: flex;
  font-weight: bold;
  gap: 0.5ch;
  padding: 0.2em;
  aspect-ratio: 1 / 1;
  height: 1em;
  align-items: center;
  justify-content: center;
}

.content {
  color: var(--cor-texto);
  margin: 2em auto;
  max-width: 600px;
}

.item {
  align-items: center;
  display: flex;
  font-size: 0.9em;
  gap: 1ch;
  padding: 2px 10px;
}

.itens {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
  margin-top: 1em;
}

.questao {
  break-inside: avoid;
  font-size: 0.9em;
  margin-top: 3em;
}

.questao b {
  font-size: 16px;
}

.questoes {
  display: grid;
  grid-template-columns: 1fr; /* 1 coluna no site */
}

.imagem-questao {
    text-align: center;
    margin: 10px 0;
}

.imagem-questao img {
    max-width: 100%;
    max-height: 300px;
}

/* GABARITO */
.gabarito {
  background-color: color-mix(in srgb, var(--cor-primaria) 10%, transparent);
  border-radius: 1em;
  margin-top: 50px;
  padding: 1em 2em;
}

.gabarito h2 {
  font-family: "JetBrains Mono", monospace;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 0;
}

.gabarito-respostas {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* BOTÃO */
.botao {
  background: var(--cor-primaria);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-weight: bold;
  margin: 30px auto;
  padding: 10px 20px;
}

/* impressão */
@page {
  margin: 0;
  size: A4;
}

@media print {

  body {
    margin: 0;
  }

  .page {
    margin: 0;
    min-height: 297mm;
    page-break-after: always;
    width: 210mm;
  }

  .botao {
    display: none;
  }

  .questoes {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }

  .content {
    margin: 2em auto;
  }

  .questao {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .page-break {
    break-before: page;
    page-break-before: always;
  }
}
